<!-- <p>My Calculator</p>
<input #no1 placeholder="enter First no" > <br/><br/>
<input #no2 placeholder="enter Second no"> <br/> <br/>
<button (click)="add(no1.value,no2.value)">Add</button>
<label>result : {{result}}</label>
<br/> <br/>
{{name}}
<input #my placeholder="changename">
<button (click)="changeText(my.value)">Change</button>

<ul>
    <li>Mango</li>
    <li>Apple</li>
</ul>
<br/>
<button>Add Fruit</button>
 -->
<h2>Product Details</h2>



 <ul [ngSwitch]="person">
    <li *ngSwitchCase="Mohan">Hello Mohan</li>
    <li *ngSwitchCase="Sohan">Hello Sohan</li>
    <li *ngSwitchCase="Vijay">Hello Vijay</li>
    <li *ngSwitchDefault>Bye Bye</li>
  </ul>  
 <app-my-form></app-my-form>